
/* --------------- Universal ------------------*/

* {
    
}


/* -------------- Main styles --------------- */
header {
    background-color: lightgray;  
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkgrey;
}

.nav-bar, .main-nav, .portfolio, header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-nav {
    
}


/* -------------- Media Queries -------------- */