
/* --------------- Universal ------------------*/

* {
    box-sizing: border-box;
}


/* -------------- Main styles --------------- */
body {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.45;
    font-weight: 200;
    background-color: #FFFFFF;
}
header, footer {
    background-color: #FAFAFA;
    min-width: 100vw;
    margin-top: -10px;
    margin-bottom: -10px;
}
h1 {
    margin: auto;
    padding: 15px 40px 0px;
}
h2 {
    font-size: 16px;
    letter-spacing: .5px;
    padding-top: 20px;
  }
h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}
p {
   text-align: center;
   letter-spacing: -.1px;
}
header p {
    padding: 10px;
}
ul {
    padding: 0px;
    width: 100%;
    margin-bottom: 40px;
}
li {
    list-style: none;
    width: 95%;
    margin: 4px;
    padding: 10px 0px;
    border-radius: 2px;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
img {
    max-width: 95%;
}
header img {
    max-width: 100%;
    padding-left: 15%;
    padding-right: 15%;9
}
.main-nav li {
    background-color: white;
}
a:hover {
    color: darkgrey;
}
.block {
    margin-bottom: 20px;
    margin-top: 10px;
}
.block p {
    margin-top: auto;
}
.contact {
    border-bottom: 1px solid lightgray;
    width: 90%;
}
.footer-nav {
    width: 100%;
    padding: 20px;
    margin: auto;
}
footer b {
    color: gray;
}

/* --------------- flex stuff --------------- */

.nav-bar, 
.main-nav, 
.portfolio, 
header, 
.block, 
.main-nav ul,
header ul,
body,
footer,
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    display: flex;
    justify-content:space-between;
}

.main-nav {
    width: 100%;
}
/* header img {
    width: 200px;
}
img {
    width: 275px;
} */




/* -------------- Media Queries -------------- */